header {
    background-color: coral;
    color: white;
    padding: 20px;
    grid-area: header;
}

header h1 {
    text-align: center;
}

header a {
    display: none;
}

nav {
    background-color: yellow;
    grid-area: nav;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

nav li {
    list-style: none;
    display: inline;
}

main {
    background-color: powderblue;
    color: white;
    grid-area: main;
}

footer {
    background-color: black;
    color: white;
    grid-area: footer;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
}

@media screen and (max-width: 800px) {
    header {
        background-color: coral;
        color: white;
        padding: 20px;
        grid-area: header;
    }

    header h1 {
        text-align: center;
    }

    nav {
        background-color: yellow;
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
    }

    nav li {
        display: block;
    }

    #clicked .on {
        display: block;
    }

    #clicked .off {
        display: none;
    }

    #clicked:target .on {
        display: none;
    }

    #clicked:target .off {
        display: block;
        color: white;
    }

    #clicked:target nav {
        display: block;
    }

    .shownav {
        height: 0.8em;
        width: 1.25em;
        display: inline-block;
        border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;
        border-radius: 0.1em;
    }

    .shownav:before {
        content: '';
        position: absolute;
        width: 1.25em;
        margin-top: 0.3em;
        border-top: 0.2em solid #fff;
    }

    main {
        background-color: gray;
        color: white;
        grid-area: main;
    }

    footer {
        background-color: black;
        color: white;
        grid-area: footer;
    }

    body {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        grid-template-areas: "header header header"
            "nav nav nav"
            "main main main"
            "aside aside aside"
            "footer footer footer";
    }
}